<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  
  <main class="book">
    
    <section class="page cover turned">
      
      <h1>So you're headed to Yale.</h1>
      
    </section>
    
    <section class="page clams turned">
    
      <img class="yay">
    
    </section>
    
    <section class="page thomas turned">
    
      <canvas class="prints"></canvas>
      
      <h1>You've left a lot of fingerprints on this newsroom (hint, hint).</h1>
      
      <p>
        I don't think I could have had a better partner in crime for my first year at the Times. We did good work together, and you helped me get <strike>News Apps</strike> Interactives situated in the newsroom. That's something to be proud of.
        
      <p>
        So I'm sorry you won't be getting your hands dirty with us anymore. It's been a lot of fun working with you. But I'm sure you're going to knock 'em dead at Yale, and I can't wait to see where you'll go from there.
        
      <p> &mdash; Thomas
        
        
        
    </section>

    <section class="page audrey">

      <h1>It's hard to imagine what we'll do without you...</h1>
      <div id="trafficContainer"></div>

    </section>
    
    <section class="page team">
      We'll miss you! Don't be a stranger!
    </section>
    
  </main>
  
  <script type="text/html" id="road-template">
    <div class="road">
      <h2 class="road-name">Eastbound</h2>

      <% trafficData.forEach(function(route) { %>
        
        <div class="route">
          
          <div class="route-name"><%= route.route %></div>
          
          <div class="route-method" style="background: <%=route.regularcolor%>">
            <div class="time">
              <span style="color: <%= route.regular ? 'black' : 'red'%>; font-weight: <%= route.regular ? '400' : '700'%>"><%= route.regular ? route.regular : 'X' %></span>
            </div>
            <div class="which">MIN</div>
          </div>
          
          <div class="route-method" style="background: <%=route.hovcolor%>">
            <div class="time">
              <span style="color: <%= route.hov ? 'black' : 'red'%>; font-weight: <%= route.hov ? '400' : '700'%>"><%= route.hov ? route.hov : 'X' %></span>
            </div>
            <div class="which">HOV</div>
          </div>
          
          <div class="route-method" style="background: <%=route.expresscolor%>">
            <div class="time">
              <span style="color: <%= route.express ? 'black' : 'red'%>; font-weight: <%= route.express ? '400' : '700'%>"><%= route.express ? route.express : 'X' %></span>
            </div>
            <div class="which">EXPRESS</div>
          </div>

        </div>

      <% }); %>

    </div>
  </script>

  <script src="script.js"></script>
  </body>
</html>