* {
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #344;
  font-size: 15px;
  line-height: 1.5;
}
h1 {
  font-size: 20px;
  margin: 0;
}
p {
  margin-bottom: 0;
}
main.book {
  position: fixed;
  top: 5px;
  right: 20px;
  width: calc(100% - 30px);
  height: calc(100% - 10px);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(5000px) translateZ(-4000px) translateX(-50%) rotateY(90deg);
          transform: perspective(5000px) translateZ(-4000px) translateX(-50%) rotateY(90deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
          transition: transform 1s ease-in-out;
}
.ready main.book {
  -webkit-transform: perspective(5000px) translateZ(-50px) rotateY(-10deg);
          transform: perspective(5000px) translateZ(-50px) rotateY(-10deg);
}
section.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out;
  -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
          transform-origin: left 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid gray;
  background: -webkit-linear-gradient(top, white, #eeeeee);
  background: linear-gradient(to bottom, white, #eeeeee);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  padding: 8px;
}
section.page::after {
  content: " ";
  position: absolute;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  background: -webkit-linear-gradient(top, #f8f8f8, #eeeeee);
  background: linear-gradient(to bottom, #f8f8f8, #eeeeee);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
section.page.cover {
  -webkit-transform: perspective(5000px) rotateY(-0.2deg);
          transform: perspective(5000px) rotateY(-0.2deg);
  z-index: 999;
}
section.page.cover.turned {
  -webkit-transform: perspective(5000px) rotateY(-165deg);
          transform: perspective(5000px) rotateY(-165deg);
}
section.page.cover h1 {
  text-align: center;
}
section.page.clams {
  -webkit-transform: perspective(5000px) rotateY(-0.15deg);
          transform: perspective(5000px) rotateY(-0.15deg);
  z-index: 998;
}
section.page.clams.turned {
  -webkit-transform: perspective(5000px) rotateY(-164deg);
          transform: perspective(5000px) rotateY(-164deg);
}
section.page.thomas {
  -webkit-transform: perspective(5000px) rotateY(-0.1deg);
          transform: perspective(5000px) rotateY(-0.1deg);
  z-index: 997;
}
section.page.thomas.turned {
  -webkit-transform: perspective(5000px) rotateY(-163deg);
          transform: perspective(5000px) rotateY(-163deg);
}
section.page.thomas .prints {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
section.page.audrey {
  -webkit-transform: perspective(5000px) rotateY(-0.05deg);
          transform: perspective(5000px) rotateY(-0.05deg);
  z-index: 996;
  font-size: 16px;
}
section.page.audrey.turned {
  -webkit-transform: perspective(5000px) rotateY(-162deg);
          transform: perspective(5000px) rotateY(-162deg);
}
section.page.audrey .road {
  max-width: 400px;
  margin: auto;
  text-align: left;
}
section.page.team {
  -webkit-transform: perspective(5000px) rotateY(0deg);
          transform: perspective(5000px) rotateY(0deg);
  z-index: 995;
}
section.page.team.turned {
  -webkit-transform: perspective(5000px) rotateY(-161deg);
          transform: perspective(5000px) rotateY(-161deg);
}
