* { box-sizing: border-box }

@mobile: ~"(max-with: 400px)";
@landscape: ~"(orientation: landscape)";
@desktop: ~"(min-width: 900px)";

@perspective: 5000px;

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #344;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 20px;
  margin: 0;
}

p {
  margin-bottom: 0;
}

main.book {
  position: fixed;
  top: 5px;
  right: 20px;
  width: calc(~"100% - 30px");
  height: calc(~"100% - 10px");
  transform-origin: right;
  transform-style: preserve-3d;
  transform: perspective(@perspective) translateZ(-4000px) translateX(-50%) rotateY(90deg);
  transition: transform 1s ease-in-out;

  @media @desktop {
    max-width: 50%;
  }
  
  .ready & {
    transform: perspective(@perspective) translateZ(-50px) rotateY(-10deg);
  }
}

section.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform .4s ease-in-out;
  transform-origin: left 50%;
  backface-visibility: hidden;
  border: 1px solid gray;
  background: linear-gradient(to right, #DDD, #F8F8F8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  padding: 8px;

  &::after {
    content: " ";
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotateY(-180deg);
    background: #CCC;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  @media @desktop {
    padding: 100px;
  }
}

section.page.cover {
  transform: perspective(@perspective) rotateY(-.2deg);
  background: linear-gradient(to right, darken(#6565dd, 2%), #6565dd);
  color: white;
  z-index: 999;
  &.turned {
    transform: perspective(@perspective) rotateY(-165deg);
  }
  
  h1 {
    text-align: center;
  }

  .hint {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 8px;
    font-weight: bold;
  }
}

section.page.clams {
  transform: perspective(@perspective) rotateY(-.15deg);
  z-index: 998;
  &.turned {
    transform: perspective(@perspective) rotateY(-164deg);
  }

  video {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .label {
    position: absolute;
    bottom: 40px;
    left: 0;
    color: white;
    font-size: 20%;
    width: 100%;
    text-align: center;
    font-size: 80px;
  }
}

section.page.thomas {
  transform: perspective(@perspective) rotateY(-.1deg);
  z-index: 997;
  &.turned {
    transform: perspective(@perspective) rotateY(-163deg);
  }
  
  .prints {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

section.page.audrey {
  transform: perspective(@perspective) rotateY(-.05deg);
  z-index: 996;
  &.turned {
    transform: perspective(@perspective) rotateY(-162deg);
  }
  font-size: 16px;
  text-align: center;
  .road {
    padding-top: 10px;
    max-width: 400px;
    margin: auto;
    font-size: 12px;
  }
  .route {
    padding-bottom: 10px;
    display: inline-block;
  }
  .road-name {
    background: black;
    color: white;
  }
  .route-name {
    font-size: 16px;
  }
  .route-method {
    display: inline-block;
    width: 65px;
    padding: 2px;
  }
  .which {
    font-size: 12px;
  }
}

section.page.audrey2 {
  transform: perspective(@perspective) rotateY(0deg);
  z-index: 995;
  &.turned {
    transform: perspective(@perspective) rotateY(-161deg);
  }
}

section.page.team {
  transform: perspective(@perspective) rotateY(0deg);
  z-index: 994;
  &.turned {
    transform: perspective(@perspective) rotateY(-161deg);
  }
  color: white;
  background: linear-gradient(to right, darken(#4A3B50, 5%), #4A3B50);

  h1 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    padding: 16px;
  }

  img {
    padding-top: 20px;
    width: 100%;
    // max-width: 600px;
    // margin: auto;
  }
}